@inherits UmbracoViewPage<CardViewModel>
@{
    if (Model.Image == null)
    {
        Model.Image = Umbraco.TypedMedia(1149);
    }

    var imageUrl = Url.GetCropUrl(Model.Image, width: 400, htmlEncode: false);
    var altText = Model.Image.GetPropertyValue("altText", Model.Headline);
}

<article class="c-card @Model.ModifierClass">
    <a href="@Model.Url" class="c-card__link">
        <div class="c-card__image-wrap">
            <img src="@imageUrl" alt="@altText" class="c-card__image">
        </div>
        <div class="c-card__content">
            @if(!String.IsNullOrWhiteSpace(Model.Headline)) {
                <h2>@Model.Headline</h2>
            }
        </div>
    </a>
</article>