@inherits UmbracoViewPage<PaginationViewModel>
@{
    var queryString = string.Empty;

	if(!String.IsNullOrWhiteSpace(Model.HashLink)){
		Model.HashLink = "#" + Model.HashLink;
	}

    foreach (var key in Request.QueryString)
    {
        if (key != null && (string)key != "page")
        {
            queryString = queryString + "&" + key + "=" + Request.QueryString[(string)key];
        }
    }
}

<nav class="c-pagination @Model.ModifierClass">
    <ul class="c-pagination__list">
        @if (Model.Paging.CurrentIndex > 1) {
            @*
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url@queryString@Model.HashLink">First</a>
            </li>
            *@
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.CurrentIndex - 1)@queryString@Model.HashLink" class="c-pagination__link c-pagination__link--prev" rel="prev">
                    <svg class="u-icon u-icon--24">
                        <use xlink:href="/assets/icons/icons.svg#arrow-left"></use>
                    </svg>
                    <span class="u-visually-hidden">Previous</span>
                </a>
            </li>
        } else {
            <li class="c-pagination__item">
                <span class="c-pagination__link c-pagination__link--prev is-disabled" rel="prev">
                    <svg class="u-icon u-icon--24">
                        <use xlink:href="/assets/icons/icons.svg#arrow-left"></use>
                    </svg>
                    <span class="u-visually-hidden">Previous</span>
                </span>
            </li>
        }

        @for (var page = Model.Paging.StartPage; page <= Model.Paging.EndPage; page++) {
            var activeClass = Model.Paging.CurrentIndex == page ? "is-active" : "";

            <li class="c-pagination__item @activeClass">
                <a href="@Model.CurrentModel.Url?page=@page@queryString@Model.HashLink" class="c-pagination__link c-pagination__link--index">
                    @page
                </a>
            </li>
        }

        @if (Model.Paging.CurrentIndex < Model.Paging.TotalPages) {
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.CurrentIndex + 1)@queryString" class="c-pagination__link c-pagination__link--next" rel="next">
                    <span class="u-visually-hidden">Next</span>
                    <svg class="u-icon u-icon--24">
                        <use xlink:href="/assets/icons/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            @*
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.TotalPages)@queryString@Model.HashLink">Last</a>
            </li>
            *@
        } else {
            <li class="c-pagination__item">
                <span href="@Model.CurrentModel.Url?page=@(Model.Paging.CurrentIndex + 1)@queryString" class="c-pagination__link c-pagination__link--next is-disabled" rel="next">
                    <span class="u-visually-hidden">Next</span>
                    <svg class="u-icon u-icon--24">
                        <use xlink:href="/assets/icons/icons.svg#arrow-right"></use>
                    </svg>
                </span>
            </li>
        }
    </ul>
</nav>



